html
  head
    title= name
    style
      | li.spicy {
      |   color: red;
      | }
  body
    h1= name
    p Founded #{founded}

    h2 Dishes
    if Dishes
      ul
        each dish in Dishes
          li(class={spicy: dish.spicy})= dish.name
    else
      p No dishes
